@{
    //Layout = null;
    ViewBag.Title = "Electronics";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--slider area start-->
<section class="slider_section mb-50 mt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <div class="dt-list">
                    @Html.Action("MainPageSideMenu", "Shopping")                    
                </div>
            </div>
            <div class="col-lg-7 col-md-12 p-sm-0">
                <div class="row">
                    <div class="col-md-12">
                        <div id="banner" class="carousel slide slider_five " data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#banner" data-slide-to="0" class="active"></li>
                                <li data-target="#banner" data-slide-to="1"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/assets/img/banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption slider_content_five content_position_left">
                                        <h1>New Generatuion of Power Supplies </h1>
                                        <span>Register and win the New 4 - Channel power Supply Rohde</span>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/img/banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption slider_content_five content_position_left">
                                        <h1>New Generatuion of Power Supplies </h1>
                                        <span>Register and win the New 4 - Channel power Supply Rohde</span>
                                    </div>
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev " href="#banner" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next " href="#banner" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>

                    </div>
                </div>

                <div class="row mt-2 sm-dis-none">
                    <div class="col-sm-6 pr-sm-1">
                        <div id="smallbanner" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators invisible">
                                <li data-target="#smallbanner" data-slide-to="0" class="active"></li>
                                <li data-target="#smallbanner" data-slide-to="1"></li>
                                <li data-target="#smallbanner" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/assets/img/small_banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption">
                                        <h6>Brinding Ads will be here</h6>
                                        <p>Register and win the New 4 - Channel power Supply Rohde</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/img/small_banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption">
                                        <h6>Brinding Ads will be here</h6>
                                        <p>Register and win the New 4 - Channel power Supply Rohde</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev invisible" href="#smallbanner" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next invisible" href="#smallbanner" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 pl-sm-1">
                        <div id="smallbanner2" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators invisible">
                                <li data-target="#smallbanner2" data-slide-to="0" class="active"></li>
                                <li data-target="#smallbanner2" data-slide-to="1"></li>
                                <li data-target="#smallbanner2" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/assets/img/small_banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption">
                                        <h6>Brinding Ads will be here</h6>
                                        <p>Register and win the New 4 - Channel power Supply Rohde</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="~/assets/img/small_banner.jpg" style="width: 100%;">
                                    <div class="carousel-caption">
                                        <h6>Brinding Ads will be here</h6>
                                        <p>Register and win the New 4 - Channel power Supply Rohde</p>
                                    </div>
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev invisible" href="#smallbanner2" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next invisible" href="#smallbanner2" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-sm-6 pr-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs</h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pr-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pr-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pr-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pl-sm-1">
                        <div class="media media-border">
                            <img src="~/assets/img/moter.jpg" class="align-self-center w90 w-lg-70">
                            <div class="media-body media-line">
                                <h6>TME's February schedule of trade fairs </h6>
                                <p>
                                    this is dummy copy this just for your reference this is just for layout purpose
                                    this is not actual tect
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12 ">
                        <div id="demo" class="carousel slide sm-dis-none" data-ride="carousel"
                             style="background-color: #cceffc;">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0 pb-2">
                                            <a href="#">
                                                <img src="~/assets/img/st.jpg">
                                            </a>
                                        </div>
                                    </div>


                                </div>
                                <div class="carousel-item ">
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0 pb-2">
                                            <a href="#">
                                                <img src="~/assets/img/st.jpg">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item ">
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>
                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"> <img src="~/assets/img/st.jpg"></a>
                                        </div>
                                    </div>

                                    <div class="row px-4 pt-2">
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 px-2">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                        <div class="col m-0 p-0 pb-2">
                                            <a href="#">
                                                <img src="~/assets/img/st.jpg">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev invisible" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next invisible" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>

                        <div id="mobile_view" class="carousel slide d-none d-block d-md-block d-sm-block d-lg-none" data-ride="carousel" style="background-color: #cceffc;">

                            <!-- Indicators -->
                            <ul class="carousel-indicators invisible">
                                <li data-target="#mobile_view" data-slide-to="0" class="active"></li>
                                <li data-target="#mobile_view" data-slide-to="1"></li>
                                <li data-target="#mobile_view" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row px-4 py-2">
                                        <div class="col m-0 p-0 pr-2 ">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row px-4 py-2">
                                        <div class="col m-0 p-0 pr-2 ">
                                            <a href="#"><img src="~/assets/img/ad.jpg"></a>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <a href="#"><img src="~/assets/img/jst.jpg"> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev invisible" href="#mobile_view" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next invisible" href="#mobile_view" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>

                        <div class="upload-part p-3 mt-2">
                            <p class="text-center">Upload a Part List/BOM</p>
                        </div>

                        <div class="immediate p-1 mt-2">
                            <p class="text-center">Immediate Buy</p>
                        </div>

                    </div>


                    <div class="col-md-6 col-lg-12">

                        <div class="">


                            <div class="buy-col mt-2">
                                <table class=" table add-remove-table mb-1">
                                    <thead>
                                        <tr>
                                            <th class="w-75">Part Number</th>
                                            <th class="w-25">Quantity</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" name="number" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="qty" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="number" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="qty" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="number" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="qty" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="number" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="qty" class="form-control" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" name="number" class="form-control" />
                                            </td>
                                            <td>
                                                <input type="text" name="qty" class="form-control" />
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class="mb-2 text-right add-remove">
                                    <button id="addBtn" type="button" class="btn btn-success btn-sm">Add</button>
                                    <button id="remove" type="button" class="btn btn-danger btn-sm">Remove</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="text-center">
                                <img src="~/assets/img/call.jpg" class="img-fluid sm-dis-none">
                            </div>
                            <div class="immediate p-1 mt-2">
                                <a href="#">
                                    <p class="text-center">(+91) 8368444797</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>

                <div class="row">

                </div>


            </div>
        </div>
    </div>
</section>
<!--slider area end-->
<!--home section five start-->
<section class="home_section py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="py-3">services and Tool</h3>
            </div>
        </div>
        <div class="row">

            <div class="col xs-col">
                <div class="single_product home_product ">
                    <div class="product_thumb">
                        <a href="#"><img src="~/assets/img/product.jpg" alt="" class="rounded"></a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>FORTS The Integrated BOM Tool</h3>
                            <p>
                                Products of a British brand with nearly 150 years of tradition are now available at
                                TME!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col xs-col">
                <div class="single_product home_product ">
                    <div class="product_thumb">
                        <a href="#"><img src="~/assets/img/product.jpg" alt="" class="rounded"></a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>FORTS The Integrated BOM Tool</h3>
                            <p>
                                Products of a British brand with nearly 150 years of tradition are now available at
                                TME!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col xs-col">
                <div class="single_product home_product ">
                    <div class="product_thumb">
                        <a href="#"><img src="~/assets/img/product.jpg" alt="" class="rounded"></a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>FORTS The Integrated BOM Tool</h3>
                            <p>
                                Products of a British brand with nearly 150 years of tradition are now available at
                                TME!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col xs-col">
                <div class="single_product home_product ">
                    <div class="product_thumb">
                        <a href="#"><img src="~/assets/img/product.jpg" alt="" class="rounded"></a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>FORTS The Integrated BOM Tool</h3>
                            <p>
                                Products of a British brand with nearly 150 years of tradition are now available at
                                TME!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col xs-col">
                <div class="single_product home_product ">
                    <div class="product_thumb">
                        <a href="#"><img src="~/assets/img/product.jpg" alt="" class="rounded"></a>
                    </div>
                    <div class="product_content">
                        <div class="product_name">
                            <h3>FORTS The Integrated BOM Tool</h3>
                            <p>
                                Products of a British brand with nearly 150 years of tradition are now available at
                                TME!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--home section five end-->

